@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}

:root {
  --color-white: #ffffff;
  --color-grey-200: #eeeeee;
  --color-grey-250: #dbdbdb;
  --color-grey-300: #d7dcde;
  --color-grey-350: #dfdfdf;
  --color-grey-400: #888888;
  --color-grey-500: #666666;
  --color-grey-600: #444444;
  --color-grey-700: #283136;
  --color-black: #000000;
  --color-green-500: #00ca74;
  --color-green-600: #00bc6c;
  --color-yellow-500: #efc849;
  --color-yellow-600: #eab534;
  --color-red-500: #fb565a;
  --color-red-600: #e74246;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-grey-700);
}

/* Main header */

.main-header {
  background-color: var(--color-grey-200);
}

/* Main navigation */

.main-navigation {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.main-navigation a {
  text-decoration: none;
}

/* Site Navigation */

.site-navigation {
  list-style: none;
}

/* User navigation */

.user-navigation {
  margin-bottom: 0;
}

.site-navigation a,
.user-navigation a {
  color: var(--color-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--color-red-500);
}

.page-title {
  background-color: var(--color-grey-200);
  color: var(--color-black);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  margin: 0;
}

/* Slider */
.slider {
  background-color: var(--color-grey-200);
}

.slider h2 {
  margin-top: 0;
}

.slider-list {
  list-style: none;
}

.slider-item .title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--color-black);
}

/* Button */

.button {
  font-family: inherit;
  line-height: 18px;
  text-align: center;
  color: var(--color-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--color-red-500);
  border: none;
  text-decoration: none;
}

.button:hover,
.button:focus {
  background-color: var(--color-red-600);
}

.services-button {
  font-family: inherit;
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.button-sites {
  background-color: var(--color-red-500);
}

.button-apps {
  background-color: var(--color-green-500);
}

.button-presentations {
  background-color: var(--color-yellow-500);
}

.button-sites:hover,
.button-sites:focus {
  background-color: var(--color-red-600);
}

.button-apps:hover,
.button-apps:focus {
  background-color: var(--color-green-600);
}

.button-presentations:hover,
.button-presentations:focus {
  background-color: var(--color-yellow-600);
}

/* Services */

.services-list {
  list-style: none;
}

.services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-black);
}

/* Promo */

.promo-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--color-black);
}

.promo h3 {
  text-transform: uppercase;
  font-weight: 700;
}

.promo-list {
  list-style: none;
}

/* Achievement */

.achievement-title {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-black);
}

.achievement-list {
  list-style: none;
}

.achievement-item span {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--color-black);
}

/* Clients */

.clients-list {
  list-style: none;
}

/* Main footer */

/* Map */

.map {
  background: var(--color-grey-200);
}

/* Contacts */

.contacts h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-black);
  text-transform: uppercase;
}

.contacts p {
  line-height: 18px;
  color: var(--color-grey-500);
}

.telephone {
  text-decoration: none;
  color: var(--color-grey-500);
}

/* Social button */

.social-list {
  list-style: none;
}

/* Footer-info */

.footer-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--color-black);
}

.footer-sale {
  line-height: 22px;
  color: var(--color-grey-600);
}

/* Popup */

.popup {
  color: var(--color-black);
  line-height: 18px;
}

.popup-header {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.login-form input[type="email"],
.login-form input[type="text"] {
  line-height: 18px;
  color: var(--color-grey-600);
  opacity: 0.5;
  border: 2px solid var(--color-grey-300);
  box-sizing: border-box;
  border-radius: 3px;
}

.comment-discription {
  line-height: 18px;
  color: var(--color-grey-600);
  opacity: 0.5;
  border: 2px solid var(--color-grey-300);
  box-sizing: border-box;
  border-radius: 3px;
}

/* Filters */

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
}

.filter-price {
  line-height: 22px;
  text-transform: uppercase;
  color: var(--color-grey-700);
}

.filter input[type="text"] {
  line-height: 22px;
  text-transform: uppercase;
  color: var(--color-grey-700);
  background: var(--color-grey-200);
  border: none;
}

.filter ul {
  list-style: none;
  line-height: 20px;
  color: var(--color-black);
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--color-black);
}

.filter-button {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--color-black);
  background: var(--color-grey-200);
  text-transform: uppercase;
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  background: var(--color-grey-350);
}

/* Sorting */

.sorting-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-black);
}

.sorting a {
  text-decoration: none;
  color: var(--color-black);
}

.sorting-list {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-item {
  color: var(--color-black);
  opacity: 0.3;
}

.sorting-item a:hover,
.sorting-item a:focus {
  opacity: 0.6;
}

.sorting-item-current {
  opacity: 1;
}

.sorting-item-current a:hover,
.sorting-item-current a:focus {
  color: var(--color-black);
}

/* Catalog */

.catalog-list {
  list-style: none;
}

.catalog-discripnion a {
  text-decoration: none;
}

.catalog-discripnion h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.catalog-discripnion-title h3:hover,
.catalog-discripnion-title h3:focus {
  color: var(--color-red-500);
}

.catalog-discripnion p {
  line-height: 18px;
  text-align: center;
  color: var(--color-grey-500);
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  text-decoration: none;
  color: var(--color-black);
  background-color: var(--color-grey-200);
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--color-grey-350);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
  color: var(--color-black);
  background-color: var(--color-white);
  border: 3px solid var(--color-grey-250);
}
